/* AUTOCOMPLETE */

.autocomplete {
  position: relative;
}

.autocomplete ul.active {
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  left: 61px;
  padding: 0;
  position: absolute;
  width: 45%;
  z-index: 999;
}

.autocomplete li {
  background-color: #fff;
  cursor: pointer;
  list-style: none;
  padding: 0.4em;
  text-align: left;
  width: 100%;
}

.autocomplete li:hover {
  background: #efefef none repeat scroll 0 0;
}
.autocomplete_result li:active {
  background: #333 none repeat scroll 0 0;
  color: white;
}
.active {
  display: block;
}
.not-active{ display: none; }