
html {
    background-color: #f0f3f4;
    min-height: 100%;
    position: relative;
}
body {
    background-color: transparent;
    color: #58666e;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    margin-bottom: 60px;
    padding-top: 50px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    padding-top: 15px;
    position: absolute;
    width: 100%;
}
.navbar-inverse {
    background-color: #f04949;
    border-color: #f04949;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #f04949;
    color: #fff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #f04949;
    color: #fff;
}
.line {
    background-color: #2e3344;
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
.sidebar ul.nav li a > i {
    float: left;
    line-height: 40px;
    margin: -10px 5px -10px -10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 40px;
}
.sidebar ul.nav li a {
    font-weight: 700;
}
.nav li a {
    font-size: 1.5em;
    margin-right: 45%;
    width: 100%;
}
.nav li a i {
    display: inline !important;
    margin-right: 10px;
}
@media (min-width: 600px) and (max-width: 1100px) {
.nav li a {
    font-size: 1.5em;
    margin-right: 10%;
}
}
.nav li a .fa {
    display: inline !important;
}
.title {
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
}
.underline {
    font-weight: bold;
    text-decoration: underline;
}
.btn-success, .panel-success {
    background-color: #27c24c !important;
    border-color: #27c24c !important;
    color: #fff !important;
}
.btn-primary, .panel-primary {
    background-color: #7266ba;
    border-color: #7266ba;
    color: #fff !important;
}
.btn-info, .panel-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #fff !important;
}
.btn-warning, .panel-warning {
    background-color: #fad733;
    border-color: #fad733;
    color: #fff !important;
}
.btn-danger, .panel-danger {
    background-color: #f05050;
    border-color: #f05050;
    color: #fff !important;
}
.btn-dark, .panel-dark {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color: #fff !important;
}
.btn-save, .btn-save:hover, .btn-save:active, .btn-save:focus {
    background-color: #57c700 !important;
    border: 0 none !important;
    box-shadow: 0 3px 0 #4db300, 0 5px 2px rgba(0, 0, 0, 0.2) !important;
    color: #fff;
    padding-bottom: 10px !important;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px !important;
    position: relative;
}
.mt80 {
    margin-top: 80px;
}
form .ng-invalid.ng-dirty {
    background-color: lightpink;
}
form .ng-valid.ng-dirty {
    background-color: lightgreen;
}
span.summary.ng-invalid {
    color: red;
    font-weight: bold;
}
span.summary.ng-valid {
    color: green;
}
div.error {
    color: red !important;
    font-weight: bold;
}
.help-block.error {
    color: red !important;
}
.links { cursor: pointer; }
.col-xs-12.col-sm-12.col-md-12.col-lg-12.animated.fadeInDown a {
  float: right;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.animated.fadeInUp.level2 {
  clear: both;
  padding-bottom: 10px;
  z-index: 1;
}
img {
  cursor: pointer;
}
label { font-weight: 200; }
input { width: 100%; }
select {  width: 100%; }
.likedUser p{ font-size: 14px; }
.likedUser p:nth-child(2n+1) {
  background: #f0f0f1;
  padding: 4px;
}
.likedUser p:nth-child(2n) {
  background: papayawhip;
  padding: 4px;
}
strong {
  color: white;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
  background: #34495e !important;
}
.likedUser {
  border: 2px solid #ccc;
  padding: 25px;
}
form {
  border: 2px solid;
  color: white;
  padding: 25px;
}
.form-group input {
  background: black;
  border: 2px solid white;
  color: white;
  height: 40px;
}
.margin-20{ margin-top: 20px; }
.ng-datepicker-input {
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
}
.form-group.filters input, .form-group.filters select {
  background: white;
  border: 2px solid #ccc;
  color: #58666e;
  height: 40px;
  padding: 6px;
}